*{
    margin: 0;
    padding: 0;
}
   
    
    .img1{
        background-image: url("israel-palacio-Y20JJ_ddy9M-unsplash.jpg"); 
        width:100%;
        height:900px;
         font-family: 'Roboto Condensed', sans-serif;
         background-size: cover ;
            
    }
    .img2{
        width:100%;
        height:900px;
        background-image: url("vishnu-r-nair-m1WZS5ye404-unsplash.jpg");
        background-size: cover;
            font-family: 'Roboto Condensed', sans-serif;
    
    }
    .img3{
        width:100%;
        height:900px;
        background-image: url("geert-pieters-8QrPJ3Kfie4-unsplash.jpg"); 
        
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover ;
    }
    .img4{
        width:100%;
        height:900px;
        background-image: url("austin-neill-hgO1wFPXl3I-unsplash.jpg");
        background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover ;
    }
    .img5{
        width:100%;
        height:900px;
        background-image: url("simon-noh-0rmby-3OTeI-unsplash.jpg");
        background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover ;
    }
    .img6{
        background-image: url("spencer-imbrock-JAHdPHMoaEA-unsplash.jpg"); 
        width:100%;
        height:900px;
         font-family: 'Roboto Condensed', sans-serif;
         background-size: cover ;}
         p{
            color:red;
            padding:10px 10px 10px 10px;
            margin-left: 800px;
            font-size: 45px;
            font-family:sans-serif;
            text-align:right;
            
            text-shadow:slategrey 3px 3px ;
            margin-right: 10px;
           margin-top: 400px;

             
         }
         #a {
  quotes:"“" "„" 60px;



}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
 background-color:black; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: linear-gradient(to bottom,red,white,deepskyblue); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
embed { display: none; }
button{
    background-color:rgba(0,0,0,0.2);
    border:white 1px solid;
    margin-top: 400px;
    margin-left: 900px;
    color:seashell;
    padding:10px 10px;
    border-radius: 10px 30px;
    height:400px;
    width:300px;
}
button:hover{
    background:linear-gradient(to right,sienna,seashell);
    color:black;
}
  button:active + embed { display: block; }
.glow {
    font-family:serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  
  to {
    text-shadow: 0 0 15px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
            
.nav-area {
    float: right;
    list-style: none;
    margin-top: -90px;
    
}
.nav-area  li{
    display: inline-block;
}

.nav-area  ul li {
    background:rgba(0,0,0,0.3);
    width: 100px;
    margin-right: 30px;
    height: 50px;
    padding:2px 5px 2px 5px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    
    font-size:13px;
    position: relative;
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight: bold;}
    .nav-area  ul li li {
        background:linen;
        color:rgba(1,1,1,0.8);
        border-bottom:black 0.2px solid;
       
    
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width:250px;
        height:40px;
        text-align: left;
        padding-left: 10px;
    }
.nav-area ul li:hover{
    background:rgba(0,0,0,0.7);
    color:red;

}
.nav-area ul li li:hover{
    background;rgba(0,0,0,0.2);
    color:red;
    border-left:red 4px solid;
    

}
.nav-area ul ul{
    display: none;
}
.nav-area ul li:hover>ul{
    display: block;
}
.nav-area ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
}
button{
    width: 100px;
    height:50px;
}
video{
    width:100%;
    border:slategrey 3px dotted;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 3px;
  height:400px;
}
.content:hover{
    background:linear-gradient(to right,red,sienna,rgba(0,0,0,0.3));
    
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
h1{
    color:tomato;
    font-size: 20px;;

}
h4{

            color:red;
            padding:10px 10px 10px 10px;
            margin-left: 30px;
            font-size: 40px;
            font-family:sans-serif;
            text-align:center;
            text-shadow:slategrey 3px 3px ;
          

}
     